/* *{
  margin: 0;
  padding: 0;
} */

#map {
  height: 60vh;
}

.viewMap {
  height: 20vh;
}

Title Header 
.heading {
  background-color: #FFFF1F;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
}

.post p {
  margin: 4rem 1rem;
}

.heading h1 {
  font-size: xx-large;
  text-emphasis: bold;
  margin: 3rem 2rem 2rem 2rem;
}

.heading h3 {
  font-size: larger;
  margin: 1rem 2rem 1rem 2rem;
}

/* Form Styling */
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5rem;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 20px 0px 20px 0px;
}

textarea {
  width: 100%;
}

#name {
  height: 2rem;
}
input [type="text"]::placeholder{
  margin-left: 20px;
  text-align: right;
}

#submitButton {
  margin-top: 20px;
  padding: 1.5rem;
  background-color: #FFFF1F;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#submitButton:hover {
  background-color: black;
  color: white;
  transition: 1.25s ease;
}
#submitButton:hover:after   {
  background-color: #FFFF1F;
  color: black;
  transition: 1.25s ease;
}

/* Blog posts */

.blog {
  margin: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.postContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.postContainer {
  background-color: rgb(245, 245, 245);
}

.post h2 {
  font-size: xx-large;
  margin: 1rem;
}

.post h3 {
  font-size:x-large;
  display: block;
  position: relative;
  margin: 0rem;
}

.post p {
  margin-top: 1rem;
}

.viewMap {
  width: 100%;
}
